{% extends 'employeehome.html' %}

{% block 'body' %}

<h2 align="center" style="color:red">{{message}}</h2>

<style>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
        }

        .container {
            margin: 10px auto;
            max-width: 400px;
            background: #fff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            font-size: 22px;
            text-align: center;
        }

        label {
            font-size: 18px;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input[type="submit"] {
            background-color: #007BFF;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }

        .forgot-password {
            font-size: 14px;
            text-align: right;
        }
        .button-container {
            display: flex;
            justify-content: space-between;
        }
        .button {
            width: 48%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
</style>

<div class="container">
    <h1><u>Change Password</u></h1>
    <form method="post" action="{% url 'empupdatepwd' %}" class="login-form">

        {% csrf_token %}
        <input type="password"  name="opwd" placeholder="Old Password" required/>
        <br>
        <input type="password"  name="npwd" placeholder="New Password" required/>
        <br>
        <div class="button-container">
            <input type="submit" value="Update" class="button"/>
            <input type="reset" value="Clear" class="button"/>
        </div>
    </form>
</div>


{% endblock %}