{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ATS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>

<h2 align="center">Application Tracking System</h2><br>

<nav class="navbar">
    <div class="logo">ATS</div>
    <ul class="nav-links">
        <div class="menu">
            <li><a href="{% url 'home' %}">Home</a></li>&nbsp;&nbsp;&nbsp;
            <li><a href="{% url 'about' %}">About</a></li>&nbsp;&nbsp;&nbsp;
            <li class="services">
                <a href="#">Login</a>
                <ul class="dropdown">
                    <li><a href="{% url 'employeelogin'  %}">Employee</a></li>
                    <li><a href="{% url 'login'  %}">Admin</a></li>
                </ul>
            </li>
        </div>
    </ul>
</nav>
<br><br>

{% block 'body' %}

<p>I am in Home Page</p>

{% endblock %}

</body>
</html>